@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
:root {
	font-family: 'Roboto Mono', serif;
	font-size: 38px;
	background-color: #fbfbfb;
	font-weight: 400;
	color: grey;
}
body {
	margin: 1rem;
}
html {
  font-size: 1rem;
}

.cell{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  background-color: rgba(100, 50, 50, 0.3);
  margin: 0.8rem 0.8rem;
  width: 5rem;
  height: 8.6rem;
  outline: solid darkred;
	outline-width: .2rem;
	outline-offset: -.2rem;
}

.empty {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0.8rem 0.8rem;
  width: 5rem;
  height: 8.6rem;
  outline: solid #230604;
	outline-width: .2rem;
	outline-offset: -.2rem;
}

.card {
	outline: solid #230604;
	outline-width: .2rem;
	outline-offset: -.2rem;
	padding-top: 1.6rem;
  box-sizing: border-box;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  width: 5rem;
  height: 8.6rem;
}

.completed{
	box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  background-image: linear-gradient(#230604, #4d3030);
  margin: 0.8rem 0.8rem;
  width: 5rem;
  height: 8.6rem;
	border: solid .2rem #230604;
}

.locked{
	box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  background-color: rgba(20, 20, 20, .8);
  margin: 0.8rem 0.8rem;
  width: 5rem;
  height: 8.6rem;
  outline: solid black;
	outline-width: .2rem;
	outline-offset: -.2rem;
}

.upper {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
	background: url("images/upper.png");
	background-size: cover;
}

.freeCells {
  box-sizing: border-box;
  display: inline-block;
}



.stacks {
  box-sizing: border-box;
  display: inline-block;
}

.lower {

  text-align: center;
  box-sizing: border-box;
  display: block;

}

body {
	min-height: 100vh;
	background: url("images/pattern.png");
	background-size: 150px 70px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-bottom: 0;
	overflow: hidden;
}


.menu{
	width: 10rem;
	position: relative;
	height: 12rem
}

.rightMenu {
  position: static;
  float: right;
  display: inline-block;
  width: 20%;
  height: 1rem;
}

.leftMenu {
  position: static;
  float: left;
  display: inline-block;
  width: 20%;
  height: 1rem;
}
